h1 {
  color: green;
  font-size: 10rem;
  font-family: sans-serif;
  background: yellow;
  margin: 2em;
}

.container {
  background-color: aquamarine;
  padding: 1em;
  margin: 4em;
  border-radius: 3em;
}
