h1 {
  color: blue;
  font-size: 10rem;
  font-family: sans-serif;
  background: red;
  line-height: 1.2em;
  margin: 2em;
}

.container {
  background-color: orange;
  padding: 1em;
  margin: 4em;
  border-radius: 3em;
}
